* {
    box-sizing: border-box;
}

html {
    line-height: 1.25rem;
}

.main-nav-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: column;
}

.canvas-container {

    width: 60vw;
    height: 80vh;
}

canvas {
    border: 1px solid black;
}

.gallery-conainer{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}
.editor-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}