/* $ruler: 17px; */

/* BASIS */

* {
    box-sizing: border-box;
}

body,
html {
    background-color: #ebecf0;
}

body {
    margin: 0;
}

a {
    color: #ffffff;
}

body,
header,
a,
input,
button {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.hide {
    display: none;
}

/* HEADER and NAV */

.main-header {
    height: 100px;
    background: rgba(41, 41, 41, 1);
    box-shadow: inset 0px -6px 0px #1e1e1e;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center */
}

.btn-toggle-menu {
    display: none;
}

.logo {
    color: lightcyan;
    font-size: 2.5em;
    letter-spacing: -1px;
}

.main-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;

    /* justify-content: space-between; */
}

.main-nav li:hover {
    /* box-shadow: inset 0px -6px 0px #58c93a; */
    color: blue;
}

.main-nav a {
    display: grid;
    font-weight: 400;

    place-content: center;
    width: 130px;
    height: 100px;

    font-weight: 400;

    transition: box-shadow 0.4s;
}

.main-nav a:hover {
    color: blue;
}


.galery,
.editor {
    margin: auto;
    margin-top: 20px;
    max-width: 900px;
}

/* Galery */


.gallery-conainer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    columns: 4;
}

.gallery-conainer img {
    max-width: 220px;
}

/* EDITOR */

.editor-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}



/* TOOL BAR */

.toolbar-container {
    padding: 16px;
    width: 400px;
    margin: 0 auto;
}

.toolbar-container div {
    color: #babecc;
    text-shadow: 1px 1px 1px #fff;
}

.line-edit,
.line-decor,
.share {
    padding: 10px 0;
}

.line-edit,
.line-decor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.share a {
    color: #161c88;
}

.button-with-img-icon,
input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

.line-inp {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

#line-inp {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow: inset 1px 1px 2px #babecc,
            inset -1px -1px 2px #fff;
    }
}

.button-with-img-icon {
    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    }

    &:active {
        box-shadow: inset 1px 1px 2px #babecc,
            inset -1px -1px 2px #fff;
    }

    .img {
        margin-right: 8px;
    }

    &.button-with-img-icon {
        border-radius: 8px;
        line-height: 0;
        width: 48px;
        height: 48px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        font-size: 19px;

        .icon {
            margin-right: 0;
        }
    }

    /* &.red {
        display: block;
        width: 100%;
        color: red;
    } */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
        margin: 0;
        flex: 1;
    }
}




/* 16px: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;

.segment {
  padding: 16px * 2 0;
  text-align: center;
} */