.editor-container {
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

/* .canvas-container {
    width: 35rem;
    height: 35rem;
  } */

  .canvas-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* width: 60vw;
    height: 80vh; */
  }
  
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* @media screen and (max-width: 500px) {
    .canvas-container {
        width: 25rem;
    }
} */

@media (min-width: 860px) {
    .editor-container  {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        /* gap: 40px; */
        /* margin-bottom: 80px; */
    }
}

@media screen and (max-width: 500px) {
    .canvas-container {
      width: 80vw;
    }
  }