.img-gallery {
    columns: 4 15rem;
}

.img-gallery img {
    width: 100%;
    break-inside: avoid;
    padding: 10px;
}

.drag-text {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    color: #070707;
    padding: 0;
}

.button-with-img-icon.img-upload {
    width: 300px;
}

input[type='file'] {
    z-index: -1;
    position: absolute;
}
